<% layout(layoutPath + 'layout') -%>
<div class="container">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="white margin padding">
                    <h2 class="display-5">Herzlich willkommen bei</h2>
                    <h1 class="display-3">Rent a Drahtesel</h1>
                    <br>
                    <span>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,    </span>
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <form action="/" method="post">
            <div class="row no-gutters">
                <div class="col-12 col-md-3">
                    <div class="margin height">
                        <select name="type" class="form-control height">
                            <option>Typ</option>
                            <option value="Mountainbike">Mountainbike</option>
                            <option value="Elektrofahrrad">Elektrofahrrad</option>
                            <option value="Damenrad">Damenrad</option>
                            <option value="Herrenrad">Herrenrad</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="margin height">
                        <select name="size" class="form-control height">
                            <option>Gr&#246;&#223;e</option>
                            <option value="12">12 Zoll</option>
                            <option value="14">14 Zoll</option>
                            <option value="16">16 Zoll</option>
                            <option value="18">18 Zoll</option>
                            <option value="20">20 Zoll</option>
                            <option value="24">24 Zoll</option>
                            <option value="28">28 Zoll</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="margin height">
                        <select name="preis" name="Preis" class="form-control height">
                            <option>Preis</option>
                            <option value="3">< 3€&emsp;</option>
                            <option value="5">< 5€&emsp;</option>
                            <option value="7.5">< 7.5€&emsp;</option>
                            <option value="10">< 10€&emsp;</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="margin height">
                        <input type="text" name="plz" class="form-control height" placeholder="PLZ">
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="margin height">
                        <button type="submit" class="btn btn-secondary btn-block height">Suchen</button>
                    </div>
                </div>
            </div>
        </form>
    
        <br>
        <div class="margin height">
            <div class="row no-gutters">
                <div class="col-4 col-md-5"><hr style="width: 100%; color: grey; height: 1px; background-color:grey;" /></div>
                <div class="col-4 col-md-2"><p class="text-center" style="color: grey;">ANGEBOTE</p></div>
                <div class="col-4 col-md-5"><hr style="width: 100%; color: grey; height: 1px; background-color:grey;" /></div>
            </div>
        </div>

        <br>
        
        <% bikes.forEach(function(row) { %>
            <div class="row no-gutters">
                <div class="col-auto">
                    <div class="margin hoch">
                        <% if(row.Bild != null){ %>
                            <img class="img-responsive bild" src="/uploads/<%= row.Bild.toString('utf8') %>" alt="">
                        <% }else{ %>
                            <img class="img-responsive bild" src="" alt="">
                        <% } %>
                    </div>
                </div>
                <div class="col">
                    <div class="margin">
                        <div class="whitebox padding hoch">
                            <h6><%= row.Name %></h6>
                       	    <div class="starRating" starMax="5" value="<%= row.Rating %>" fillColor="#ffef19" emptyColor="#e8e7e3" mode="show" size="20"></div>
                       	 	<span><%= row.Preis %>€&emsp;</span>
                     	   	<a href="bike/<%= row.totid %>">ansehen</a>
                    	</div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="margin hoch">
                        <img class="hundert" height="200px" class="img-responsive" src="https://maps.googleapis.com/maps/api/staticmap?key=<%= maps_key %>&center=<%= row.Lat %>+<%= row.Lon %>&zoom=17&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7C<%= row.Lat %>+<%= row.Lon %>" alt="Your Bike">
                    </div>
                </div>
            </div>
            <div class="margin">
                <div class="row no-gutters">
                     <div class="col-12"><hr style="color: grey; height: 1px; background-color:grey;" /></div>
                </div>
            </div>
        <% }); %>
    
        



            <% if(mobile_popup != undefined && mobile_popup == true){ %>
                <script>
                alert("Bitte oeffne die Seite auf deinem PC! Die Seite wird (wie im Lastenheft beschrieben) nicht komplett responsive sein");
                </script>
            <% } %>
        </div>