<% layout(layoutPath + 'layout') -%>

    <div class="row no-gutters">
            <div class="col-12">
                <div class="d-flex flex-column flex-md-row">
                    <img class="bild margin" src="/images/leer.png" alt="">
                    <div class="white margin padding">
                    	<% if(isLoggedIn){ %>
                        	<h1 class="display-4"><%= userdata.Vorname %> <%= userdata.Name %></h1>
                        <% }else { %>
                        	<h1 class="display-4"><%= userdata.Vorname.charAt(0) %>. <%= userdata.Name %></h1>
                        <% } %>
                        <div class="starRating" starMax="5" value="<%= userdata.Rating %>" fillColor="#ffef19" emptyColor="#e8e7e3" mode="show" size="40"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <% if(isLoggedIn){ %>
        	TODO: Standort, telefonnummer und email
        <% } %>
        
        <div class="row no-gutters">
            <div class="col-12">
                <div class="überschrift margin p-1 middle">
                    <span>Bewertungen</span>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <div class="white margin">
                    <div class="padding linie-unten">
                        <span>
                            <img src="/images/leer.png" alt="" height="25">
                            <strong>&nbsp;Bewertung 1&emsp;</strong>
                            <div class="starRating" starMax="5" value="6" fillColor="#ffef19" emptyColor="#e8e7e3" mode="show" size="20"></div>
                        </span>
                    </div>
                    <div class="padding">
                        <span>Alles super!</span>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="white margin">
                    <div class="padding linie-unten">
                        <span>
                            <img src="/images/leer.png" alt="" height="25">
                            <strong>&nbsp;Bewertung 2&emsp;</strong>
                            <div class="starRating" starMax="5" value="6" fillColor="#ffef19" emptyColor="#e8e7e3" mode="show" size="20"></div>
                        </span>
                    </div>
                    <div class="padding">
                        <span>Auch alles super!</span>
                    </div>
                </div>
            </div>

        </div>
