<% layout(layoutPath + 'layout') -%>

        <div class="row no-gutters">

            <div class="col-12">
                <div class="margin">
                        <% if(userdata.Banner != null){ %>
                            <img class="img-responsive bild margin karte" src="<%= userdata.Banner.toString('utf8') %>" alt="">
                        <% }else{ %>
                            <img class="img-responsive karte" src="/images/placeholder-square.jpg" alt="">
                        <% } %>
                </div>
            </div>

        </div>

        <div class="row no-gutters">

            <div class="col-12">
                <div class="d-flex flex-column flex-md-row">
                        <% if(userdata.picture != undefined){ %>
                            <img class="img-responsive bild margin" src="<%= userdata.picture.toString('utf8') %>" alt="">
                        <% }else{ %>
                            <img class="img-responsive bild margin" src="/images/leer.png" alt="">
                        <% } %>
                    <div class="white margin padding">
                        <h1 class="display-4"><%= userdata.Firmenname %></h1>
                       <div class="starRating" starMax="5" value="<%= userdata.Rating %>" fillColor="#ffef19" emptyColor="#e8e7e3" mode="show" size="40"></div>
                       <span>E-mail: <%= userdata.email %></span><br />
                       <% if(userdata.phone != null){ %>
                       <span>Telefon: <%= userdata.phone %></span>
                       <% } %>
                    </div>
                </div>
            </div>

        </div>

        <div class="row no-gutters">
            <div class="col-12">
                <div class="margin height">
                        <form action="/profile/edit" method="get">
                            <input type="submit" class="btn btn-secondary btn-block height" value="Profil bearbeiten" />
                            </form>
                </div>
            </div>
        </div>

        

        <div class="row no-gutters">
            <div class="col-12">
                <div class="margin">
                    <div id="map" style="width:100%;height:200px;"></div>   </div>
            </div>
        </div>

        <div class="row no-gutters">
                <div class="col-12">
                    <div class="überschrift margin p-1 middle">
                            <span>Standort: <%= userdata.street %>  <%= userdata.housenumber %> , <%= userdata.zip %>  <%= userdata.city %> </span>
                    </div>
                </div>
            </div>


        <div class="row no-gutters">
            <div class="col-12">
                <div class="überschrift margin p-1 middle">
                    <span>Soziale Medien</span>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-12">
                <div class="white margin padding middle">
                    <% if(userdata.FacebookUrl != undefined || userdata.FacebookUrl == ""){ %>
                    <a href="<%= userdata.FacebookUrl %>"><img src="/images/facebook.svg" alt="" height="40" /></a>
                    <% } %>
                    &emsp;
                    <% if(userdata.TwitterUrl != undefined|| userdata.TwitterUrl == ""){ %>
                    <a href="<%= userdata.TwitterUrl %>"><img src="/images/twitter.svg" alt="" height="40" /></a>
                    <% } %>
                    &emsp;
                    <% if(userdata.InstagramUrl != undefined || userdata.InstagramUrl == ""){ %>
                    <a href="<%= userdata.InstagramUrl %>"><img src="/images/instagram.svg" alt="" height="40" /></a>
                    <% } %>
                    &emsp;
                    <% if(userdata.WebUrl != undefined || userdata.WebUrl == ""){ %>
                    <a href="<%= userdata.WebUrl %>"><img src="/images/website.svg" alt="" height="40" /></a>
                    <% } %>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-12">
                <div class="überschrift margin p-1 middle">
                    <span>Fahrräder</span>
                </div>
            </div>
        </div>


        <div class="row no-gutters">

        
                <% if(bikes!= undefined){ %>
                    <% bikes.forEach(function(m) { %>
            <div class="col-12">
                <div class="white margin">
                    <div class="padding linie-unten">
                        <span>
                            <strong><%= m.Name %>&emsp;</strong>
                            <div class="starRating" starMax="5" value="6" fillColor="#ffef19" emptyColor="#e8e7e3" mode="show" size="20"></div>
                            &emsp;
                            <form method="post" action="/bike/delete">
                                <input type="hidden" name="user_id" value="<%= userid %>" />
                                <input type="hidden" name="inserat_id" value="<%= m.pk_ID %>"/>
                                <input type="submit" value="Loeschen" />
                            </form>
                        </span>
                    </div>
                    <div class="padding">
                    <% if(bookings != undefined){ %>     
                    <% bookings.forEach(function(o) { %>   
                        <% if(m.pk_ID_Fahrrad == o.bike_id){%>
                                <span><%= o.rent_date %> -> <%= o.booked_days %>: Gebucht von <a href="/profile/<%= o.userid %>"><%= o.email %></a>></span>
                        <% } %>
                    <% }); %>
                    <% } %>
                    </div>
                </div>
            </div>
            <% }); %>
            <% } %>




        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <div class="margin height">
                    <form method="get" action="/bike/new"> 
                    <button type="submit" id="meineFahrräderBtn" class="btn btn-secondary btn-block height">Fahrrad inserieren</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-12">
                <div class="überschrift margin p-1 middle">
                    <span>Bewertungen</span>
                </div>
            </div>
        </div>


        <div class="row no-gutters">
                <% if(ratings!= undefined){ %>
                <% ratings.forEach(function(n) { %>
                    <div class="col-12">
                        <div class="white margin">
                            <div class="padding linie-unten">
                                <span>
                                        <% if(n.picture == undefined || n.picture == ""){ %>
                                            <img src="/images/leer.png" alt="" height="25">
                                            <% }else{ %>
                                            <img src="<%= n.picture %>" alt="" height="25">
                                            <% } %>
                                            <strong>&nbsp;<a href="/profile/<%= n.pk_ID %>"><%= n.email %></a>&emsp;</strong>
                                    <div class="starRating" size="20" starMax="5" value="<%= n.Rating %>" mode="show" fillColor="yellow" emptyColor="grey"></div>
                                </span>
                            </div>
                            <div class="padding">
                                <span><%= n.Description %></span>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                    <% } %>
                </div>
        </div>


        <script>                      
            function initMap() {
             var uluru = {lat: <%= userdata.lat %>, lng: <%= userdata.lon %>};
             var map = new google.maps.Map(document.getElementById('map'), {
               zoom: 15,
               center: uluru
             });
             var marker = new google.maps.Marker({
               position: uluru,
               map: map
             });
           }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= maps_key %>&callback=initMap"></script>