<% layout(layoutPath + 'layout') -%>

        <div class="row no-gutters">

            <div class="col-12">
                <div class="margin">
                    <img class="karte" src="/images/bild.png" alt="">
                </div>
            </div>

        </div>

        <div class="row no-gutters">

            <div class="col-12">
                <div class="d-flex flex-column flex-md-row">
                    <img class="bild margin" src="/images/leer.png" alt="">
                    <div class="white margin padding">
                        <h1 class="display-4"><%= userdata.Firmenname %></h1>
                       <div class="starRating" starMax="5" value="<%= userdata.Rating %>" fillColor="#ffef19" emptyColor="#e8e7e3" mode="show" size="40"></div>
                       <span>E-mail: <%= userdata.email %></span><br />
                       <% if(userdata.phone != null){ %>
                       <span>Telefon: <%= userdata.phone %></span>
                       <% } %>
                    </div>
                </div>
            </div>

        </div>

        <div class="row no-gutters">

            <div class="col-12">
                <div class="margin height">
                    <button type="button" class="btn btn-secondary btn-block height">Profil bearbeiten</button>
                </div>
            </div>
        </div>

        

        <div class="row no-gutters">

            <div class="col-12">
                <div class="margin">
                        <img  class="img-responsive karte" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= userdata.Lat %>+<%= userdata.Lon %>&zoom=17&scale=1&size=1200x200&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7C<%= userdata.Lat %>+<%= userdata.Lon %>" alt="FIRMEN LOKATION">
                </div>
            </div>

        </div>

        <div class="row no-gutters">
                <div class="col-12">
                    <div class="überschrift margin p-1 middle">
                            <span>Standort: <%= userdata.street %>  <%= userdata.housenumber %> , <%= userdata.zip %>  <%= userdata.city %> </span>
                    </div>
                </div>
            </div>


        <div class="row no-gutters">

            <div class="col-12">
                <div class="überschrift margin p-1 middle">
                    <span>Soziale Medien</span>
                </div>
            </div>

        </div>

        <div class="row no-gutters">

            <div class="col-12">
                <div class="white margin padding middle">
                    <% if(userdata.FacebookUrl != undefined){ %>
                    <a href="<%= userdata.FacebookUrl %>"><img src="/images/facebook.svg" alt="" height="40" /></a>
                    <% } %>
                    &emsp;
                    <% if(userdata.TwitterUrl != undefined){ %>
                    <a href="<%= userdata.TwitterUrl %>"><img src="/images/twitter.svg" alt="" height="40" /></a>
                    <% } %>
                    &emsp;
                    <% if(userdata.InstagramUrl != undefined){ %>
                    <a href="<%= userdata.InstagramUrl %>"><img src="/images/instagram.svg" alt="" height="40" /></a>
                    <% } %>
                    &emsp;
                    <% if(userdata.WebUrl != undefined){ %>
                    <a href="<%= userdata.WebUrl %>"><img src="/images/website.svg" alt="" height="40" /></a>
                    <% } %>
                </div>
            </div>

        </div>

        <div class="row no-gutters">

            <div class="col-12">
                <div class="überschrift margin p-1 middle">
                    <span>Fahrräder</span>
                </div>
            </div>

        </div>

        <div class="row no-gutters">
            <div class="col-12">
                <div class="white margin">
                    <div class="padding linie-unten">
                        <span>
                            <strong>Bikename1&emsp;</strong>
                            <div class="starRating" starMax="5" value="6" fillColor="#ffef19" emptyColor="#e8e7e3" mode="show" size="20"></div>
                            &emsp;
                            <a href="#">Löschen</a>
                        </span>
                    </div>
                    <div class="padding">
                        <span>15.11.17 - 16.11.17: Gebucht von Benutzername1</span>
                        <span>17.11.17 - 18.11.17: Gebucht von Benutzername2</span>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="white margin">
                    <div class="padding linie-unten">
                        <span>
                            <strong>Bikename2&emsp;</strong>
                            <div class="starRating" starMax="5" value="6" fillColor="#ffef19" emptyColor="#e8e7e3" mode="show" size="20"></div>
                            &emsp;
                            <a href="#">Löschen</a>
                        </span>
                    </div>
                    <div class="padding">
                        <span>15.11.17 - 16.11.17: Gebucht von Benutzername1</span>
                        <span>17.11.17 - 18.11.17: Gebucht von Benutzername2</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">

            <div class="col-12">
                <div class="margin height">
                    <button type="button" id="meineFahrräderBtn" class="btn btn-secondary btn-block height">Fahrrad inserieren</button>
                </div>
            </div>
        </div>

        <div class="row no-gutters">

            <div class="col-12">
                <div class="überschrift margin p-1 middle">
                    <span>Bewertungen</span>
                </div>
            </div>

        </div>

        <div class="row no-gutters">

            <div class="col-12">
                <div class="white margin">
                    <div class="padding linie-unten">
                        <span>
                            <img src="/images/leer.png" alt="" height="25">
                            <strong>&nbsp;Bewertung 1&emsp;</strong>
                            <div class="starRating" starMax="5" value="6" fillColor="#ffef19" emptyColor="#e8e7e3" mode="show" size="20"></div>
                        </span>
                    </div>
                    <div class="padding">
                        <span>Alles super!</span>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="white margin">
                    <div class="padding linie-unten">
                        <span>
                            <img src="/images/leer.png" alt="" height="25">
                            <strong>&nbsp;Bewertung 2&emsp;</strong>
                           <div class="starRating" starMax="5" value="6" fillColor="#ffef19" emptyColor="#e8e7e3" mode="show" size="20"></div>
                        </span>
                    </div>
                    <div class="padding">
                        <span>Auch alles super!</span>
                    </div>
                </div>
            </div>

        </div>

