<% layout(layoutPath + 'layout') -%>


        <div class="row no-gutters">
            <div class="col-12">
                <div class="d-flex flex-column flex-md-row">
                        <% if(userdata.picture != undefined){ %>
                            <img class="img-responsive bild margin" src="<%= userdata.picture.toString('utf8') %>" alt="">
                        <% }else{ %>
                            <img class="img-responsive bild margin" src="/images/leer.png" alt="">
                        <% } %>
                    <div class="white margin padding">
                        <h1 class="display-4"><%= userdata.Vorname %> <%= userdata.Name %></h1>
                        <div class="starRating" starMax="5" value="<%= userdata.Rating %>" fillColor="#ffef19" emptyColor="#e8e7e3" mode="show" size="40"></div>
                        <span>E-mail: <%= userdata.email %></span><br />
                        <% if(userdata.phone != undefined){ %>
                        <span>Telefon: <%= userdata.phone %></span>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-12">
                <div class="margin height">
                        <form action="/profile/edit" method="get">
                    <input type="submit" class="btn btn-secondary btn-block height" value="Profil bearbeiten" />
                    </form>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-12">
                <div class="überschrift margin p-1 middle">
                    <span>Standort: <%= userdata.street %>  <%= userdata.housenumber %> , <%= userdata.zip %>  <%= userdata.city %> </span>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-12">
                <div class="margin">
                    <div id="map" style="width:100%;height:200px;"></div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-12">
                <div class="überschrift margin p-1 middle">
                    <span>Bestellungen</span>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-6">
                <div class="margin height">
                    <button type="button" id="meineFahrräderBtn" class="btn btn-secondary btn-block height" onclick="fahrräder()">Meine Fahrräder</button>
                </div>
            </div>
            <div class="col-6">
                <div class="margin height">
                    <button type="button" id="meineBestellungenBtn" class="btn btn-secondary btn-block height" onclick="bestellungen()">Meine Bestellungen</button>
                </div>
            </div>
        </div>


        <div id="meineFahrräder">
                <script>


                        function gen_table(_divid, _data, _rentdate){
                            var dt = _data.split(',');
                            var table = "<table>";
                            for(var j = 0; j < dt.length; j++){
                                var dtd = new Date(dt[j]);
                            table += "<tr><td>"+dtd.getDay() + "." + dtd.getMonth() + dtd-getFullYear()+"</td></tr>";
                            }
                            table += "</table>";
                            document.getElementById(_divid).innerHTML = table;
                            var d = new Date(_rentdate)
                            document.getElementById(_divid + "date").innerHTML = d.getDay() + "." +d.getMonth() + "."+d.getFullYear();
                        }
                        </script>
                        
                                <div class="row no-gutters">
                                        <% var counter = 0; %>
                                        <% if(bikes!= undefined){ %>
                                            <% bikes.forEach(function(m) { %>
                                    <div class="col-12">
                                        <div class="white margin">
                                            <div class="padding linie-unten">
                                                <span>
                                                    <strong><%= m.Name %>&emsp;</strong>
                                                    <div class="starRating" starMax="5" value="6" fillColor="#ffef19" emptyColor="#e8e7e3" mode="show" size="20"></div>
                                                    &emsp;
                                                </span>
                                            </div>
                                            <div class="padding">
                                                    <% counter = 0; %>
                                            <% if(bookings != undefined){ %>     
                                            <% bookings.forEach(function(o) { %>   
                                                <% if(o.pk_ID_Fahrrad == m.pk_ID) { %>   
                                                    <div class="row no-gutters">
                                                       <div class="col-2"> <span id="<%= o.Rentdate %><%= o.email %>date"></span> -> </span> </div><div class="col-2"><span id="<%= o.Rentdate %><%= o.email %>"></span></div><div class="col-8">Gebucht von <a href="/profile/<%= o.userid %>"><%= o.email %></a></span></div>
                                                       </div>
                                                       <script>gen_table("<%= o.Rentdate %><%= o.email %>","<%= o.booked_days %>","<%= o.Rentdate %>");</script>      
                                                       <% } %>
                                            <% }); %>
                                            <% } %>
                                            </div>
                                            <div class="row no-gutters">
                                                    <div class="col-12 middle">
                                            <form method="post" action="/bike/delete">
                                                <input type="hidden" name="user_id" value="<%= userid %>" />
                                                <input type="hidden" name="inserat_id" value="<%= m.pk_ID %>"/>
                                                <input type="submit" value="Loeschen" />
                                            </div>
                                            </form>
                                        </div>
                                        </div>
                                    </div>
                                    <% }); %>
                                    <% } %>
                                </div>

        <div id="meineBestellungen">
            <div class="row no-gutters">


                <script> 
                function get_own_table(_divid, _data){
                    var dt = _data.split(',');
                            var table = "<table>";
                            for(var j = 0; j < dt.length; j++){
                                var dtd = new Date(dt[j]);
                            table += "<tr><td>"+dtd.getDay() + "." + dtd.getMonth() + dtd-getFullYear()+"</td></tr>";
                            }
                            table += "</table>";
                            document.getElementById(_divid).innerHTML = table;
                }
                </script>

                    <% if(own_bookings!= undefined){ %>
                        <% own_bookings.forEach(function(p) { %>
                <div class="col-12">
                    <div class="white margin">
                        <div class="padding">
                            <span>
                                <span><%= p.Rentdate %> -> Sie haben ein Fahrrad geliehen: <a href="/profile/<%= p.userid %>"><%= p.email %></a></span>
                                <span id="<%= p.booked_days %><%= p.email %><%= p.userid %>"><%= p.booked_days %></span>
                                <div class="starRating" starMax="5" value="9" fillColor="#ffef19" emptyColor="#e8e7e3" mode="show" size="20"></div>
                            <script>get_own_table("<%= p.booked_days %><%= p.email %><%= p.userid %>","<%= p.booked_days %>");</script>
                            </span>
                        </div>
                    </div>
                </div>
                <% }); %>
                <% } %>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-12">
                <div class="margin height">
                    <form method="GET" action="/bike/new">
                    	<input type="submit" id="meineFahrräderBtn" class="btn btn-secondary btn-block height" value="Fahrrad inserieren" />
                	</form>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-12">
                <div class="überschrift margin p-1 middle">
                    <span>Bewertungen</span>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
                <% if(ratings!= undefined){ %>
                <% ratings.forEach(function(n) { %>
                    <div class="col-12">
                        <div class="white margin">
                            <div class="padding linie-unten">
                                <span>
                                        <% if(n.picture == undefined || n.picture == ""){ %>
                                            <img src="/images/leer.png" alt="" height="25">
                                            <% }else{ %>
                                            <img src="<%= n.picture %>" alt="" height="25">
                                            <% } %>
        
                                            <strong>&nbsp;<a href="/profile/<%= n.pk_ID %>"><%= n.email %></a>&emsp;</strong>
                                    <div class="starRating" size="20" starMax="5" value="<%= n.Rating %>" mode="show" fillColor="yellow" emptyColor="grey"></div>
                                </span>
                            </div>
                            <div class="padding">
                                <span><%= n.Description %></span>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                    <% } %>
                </div>




        <script>                      
            function initMap() {
             var uluru = {lat: <%= userdata.lat %>, lng: <%= userdata.lon %>};
             var map = new google.maps.Map(document.getElementById('map'), {
               zoom: 15,
               center: uluru
             });
             var marker = new google.maps.Marker({
               position: uluru,
               map: map
             });
           }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= maps_key %>&callback=initMap"></script>