<% layout(layoutPath + 'layout') -%>


<div class="row no-gutters">
    <div class="col-12">
        <div class="white margin padding middle">
            <h1 class="display-4">Profil bearbeiten</h1>
        </div>
    </div>
</div>

<form method="post" action="/editprofile">
<input type="hidden" name="action" value="edit"/>
    <div class="row no-gutters">
        <div class="col-12 col-md-12 col-lg-2"></div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="margin height text">
                <span>Land*</span>
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="margin height">
                <input type="text" name="country" class="form-control height" value="<%= data.country %>" required>
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="margin height text">
                <span>Stadt*</span>
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="margin height">
                <input type="text" name="city" class="form-control height" value="<%= data.city %>" required>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-2"></div>
    </div>

    <div class="row no-gutters">
        <div class="col-12 col-md-12 col-lg-2"></div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="margin height text">
                <span>PLZ*</span>
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="margin height">
                <input type="number" name="zip" class="form-control height" value="<%= data.zip %>" required>
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="margin height text">
                <span>Straße*</span>
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="margin height">
                <input type="text" name="street" class="form-control height" value="<%= data.street %>" required>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-2"></div>
    </div>

    <div class="row no-gutters">
        <div class="col-12 col-md-12 col-lg-2"></div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="margin height text">
                <span>Hausnummer*</span>
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="margin height">
                <input type="number" name="housenumber" class="form-control height" value="<%= data.housenumber %>" required>
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="margin height text">
                <span>Telefon</span>
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="margin height">
                    <% if(data.phone != undefined){ %>
                        <input type="tel" name="phone" class="form-control height" value="<%= data.phone %>">
                        <% }else{ %>
                            <input type="tel" name="phone" class="form-control height" value="">
                            <% } %>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-2"></div>
    </div>

    <div class="row no-gutters">
        <div class="col-12 col-md-12 col-lg-2"></div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="margin height text">
                <span>Passwort*</span>
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="margin height">
                <input type="password" class="form-control height">
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="margin height text">
                <span>bestätigen*</span>
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="margin height">
                <input type="password" class="form-control height">
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-2"></div>
    </div>

    <div class="row no-gutters">
        <div class="col-12 col-md-12 col-lg-2"></div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="margin height text">
                <span>Profilbild</span>
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="margin height">
                <input type="text" class="form-control height">
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="margin height">
                <input type="file" accept="image/*" class="btn btn-secondary btn-block height" value="Browse..."/>
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2"></div>
        <div class="col-12 col-md-12 col-lg-2"></div>
    </div>

    <div class="row no-gutters">
        <div class="col-12 col-md-12 col-lg-2"></div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="margin height textklein">
                <span>*Pflichtfeld</span>
            </div>
        </div>
        <div class="col-6 col-md-3 col-lg-2"></div>
        <div class="col-6 col-md-3 col-lg-2"></div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="margin height">
                <button type="submit" class="btn btn-secondary btn-block height">Bearbeiten</button>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-2"></div>
    </div>
</form>
    <div class="row no-gutters">
        <div class="col-12 col-md-12 col-lg-2"></div>
        <div class="col-6 col-md-3 col-lg-2"></div>
        <div class="col-6 col-md-3 col-lg-2"></div>
        <div class="col-6 col-md-3 col-lg-2"></div>
        <div class="col-6 col-md-3 col-lg-2">
            <div class="margin height">
                <form method="post" action="/editprofile">
                <button type="submit" class="btn btn-secondary btn-block height">Profil löschen</button>
           <input type="hidden" name="action" value="delete"/>
           </form>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-2"></div>
    </div>


</div>

<hr/>

<form>
<input type="button" class="btn btn-default">
</form>